<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <record id="menus_tree" model="ir.ui.view">
        <field name="name">cafe.menus.tree</field>
        <field name="model">cafe.menus</field>
        <field name="arch" type="xml">
            <tree>
                <field name="cafename"/>
                <field name="product_first"/>
                <field name="product_second"/>
                <field name="product_salat"/>
            </tree>
        </field>
    </record>


    <!--    <record id="view_menus_kanban" model="ir.ui.view">-->
    <!--        <field name="name">cafe.menus.kanban</field>-->
    <!--        <field name="model">cafe.menus</field>-->
    <!--        <field name="arch" type="xml">-->
    <!--            <kanban>-->
    <!--                <field name="id"/>-->
    <!--                <field name="cafename"/>-->
    <!--                <field name="adminname"/>-->
    <!--                <field name="address"/>-->
    <!--                <templates>-->
    <!--                    <t t-name="kanban-box">-->
    <!--                        <ul style="list-style-type: none;">-->
    <!--                            <li>-->
    <!--                                <h3>-->
    <!--                                    <field name="cafename"/>-->
    <!--                                </h3>-->
    <!--                            </li>-->
    <!--                            <group>-->
    <!--                                <li style="color:#BD5B92;">-->
    <!--                                    <field name="adminname"/>-->
    <!--                                </li>-->
    <!--                                <li>-->
    <!--                                    <field name="address"/>-->
    <!--                                </li>-->
    <!--                            </group>-->
    <!--                        </ul>-->
    <!--                    </t>-->
    <!--                </templates>-->
    <!--            </kanban>-->
    <!--        </field>-->
    <!--    </record>-->


    <record id="menus_form" model="ir.ui.view">
        <field name="name">cafe.menus.form</field>
        <field name="model">cafe.menus</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <field name="menu_lines" placeholder="Cafe Name"/>
                    <group>
                        <group>
                            <field name="cafename"/>
                        </group>
                        <group>
                            <field name="product_first"/>
                            <field name="product_second"/>
                            <field name="product_salat"/>
                        </group>
<!--                         <button string="Like" name="like_menu" type="object" class="oe_highlight"-->
<!--                            invisible="context.get('active_id', False)" data-hotkey="w"/>-->
<!--                        <field name="menus_id" />-->
                    </group>
                </sheet>
            </form>
        </field>
    </record>


    <record id="menus_action" model="ir.actions.act_window">
        <field name="name">Menu</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">cafe.menus</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="help" type="html">
            <field name="menu_lines"/>

            <!--            <p class="o_view_nocontent_smiling_face">-->
            <!--                Add new cafe-->
            <!--            </p>-->
            <!--            <p>-->
            <!--                Amina's example module-->
            <!--            </p>-->
        </field>
    </record>


    <!--    <menuitem id="cafe_menu_root"-->
    <!--              name="Menu"-->
    <!--              parent="cafe_root"-->
    <!--              sequence="2"/>-->


    <menuitem id="cafe_menus"
              name="Menu"
              parent="cafe_admin_root"
              action="menus_action"
              sequence="2"/>

</odoo>